<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "nl.bracher.phonegaptest"
	version 	= "1.0.0">

	<name>PhoneGap Test</name>

	<description>
		Testing PhoneGap, PhoneGap Build and LS
		A template for getting started with PhoneGap development and build.phonegap.com
	</description>

	<author href="http://www.sharecompany.nl"
		email="mbracher@sharecompany">
		Marc Bracher
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="phonegap-version" value="1.9.0" />
	<preference name="target-device" value="universal" />
	<preference name="orientation" value="portrait" />
	
	<access origin="*" /> 
</widget>
